/* PostList.module.css */

.postList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.newPostContainer {
  flex: 1 1 100%; /* Full width */
  background-color: transparent; /* Mild color */
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.newPostButton {
  flex: 0 0 auto; /* Do not grow or shrink */
  margin-bottom: 20px;
}

.post {
  flex: 1 1 calc(25% - 10px); /* 4 posts per row, accounting for gap */
  background-color: lightblue;
  padding: 10px;
  border-radius: 5px;
  width: 250px; /* Set a minimum width to prevent the post block from becoming too small */
}